<%= form_with(model: game, local: true) do |form| %>
<div class="row">
    <div class="col-12">
      <% if game.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

          <ul>
            <% game.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-4 field form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="col-6 col-md-2 field form-group">
      <%= form.label :duration_min %>
      <%= form.text_field :duration_min, class: "form-control" %>
    </div>
    <div class="col-6 col-md-2 field form-group">
      <%= form.label :duration_max %>
      <%= form.text_field :duration_max, class: "form-control" %>
    </div>
    <div class="col-6 col-md-2 field form-group">
      <%= form.label :quant_min %>
      <%= form.text_field :quant_min, class: "form-control" %>
    </div>
    <div class="col-6 col-md-2 field form-group">
      <%= form.label :quant_max %>
      <%= form.text_field :quant_max, class: "form-control" %>
    </div>
    <div class="col-12 field form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control", type: "text" %>
    </div>
    <div class="col-12 field form-group">
      <%= form.label :material_list %>
      <%= form.text_area :material_list, class: "form-control", type: "text" %>
    </div>
    <div class="col-12 col-md-6 field form-group">
      <%= form.label :url_image %>
      <%= form.text_field :url_image, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col actions">
      <%= form.submit nil, class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
