<p id="notice"><%= notice %></p>

<p>
  <strong><%= Game.human_attribute_name :title %>:</strong>
  <%= @game.title %>
</p>

<p>
  <strong><%= Game.human_attribute_name :description %>:</strong>
  <%= @game.description %>
</p>

<p>
  <strong><%= Game.human_attribute_name :duration %>:</strong>
  <%= @game.duration_min %> - <%= @game.duration_max %> min
</p>

<p>
  <strong><%= Game.human_attribute_name :material_list %>:</strong>
  <%= @game.material_list %>
</p>

<p>
  <strong><%= Game.human_attribute_name :quant %>:</strong>
  <%= @game.quant_min %> - <%= @game.quant_max %>
</p>

<%= link_to t('form_options.edit'), edit_game_path(@game) %> |
<%= link_to t('form_options.back'), games_path %>
