<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @competence.title %>
</p>

<p>
  <strong>Number:</strong>
  <%= @competence.number %>
</p>

<%= link_to t('form_options.edit'), edit_competence_path(@competence) %> |
<%= link_to 'Back', competences_path %>
