<p id="notice"><%= notice %></p>

<h1>Game Types</h1>

<table class="table  table-responsive">
  <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_types.each do |game_type| %>
      <tr>
        <td><%= game_type.description %></td>
        <td><%= link_to t('form_options.show'), game_type %></td>
        <td><%= link_to t('form_options.edit'), edit_game_type_path(game_type) %></td>
        <td><%= link_to t('form_options.destroy'), game_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Type', new_game_type_path %>
