<p id="notice"><%= notice %></p>

<p>
  <strong><%= GameType.human_attribute_name :description %>:</strong>
  <%= @game_type.description %>
</p>

<%= link_to t('form_options.edit'), edit_game_type_path(@game_type) %> |
<%= link_to t('form_options.back'), game_types_path %>
