<p id="notice"><%= notice %></p>

<h1>Places</h1>

<table class="table  table-responsive">
  <thead>
    <tr>
      <th scope="col">Place type</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.place_type %></td>
        <td><%= link_to t('form_options.show'), place %></td>
        <td><%= link_to t('form_options.edit'), edit_place_path(place) %></td>
        <td><%= link_to t('form_options.destroy'), place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Place', new_place_path %>
