<p id="notice"><%= notice %></p>

<p>
  <strong><%= Place.human_attribute_name :place_type %>:</strong>
  <%= @place.place_type %>
</p>

<%= link_to t('form_options.edit'), edit_place_path(@place) %> |
<%= link_to t('form_options.back'), places_path %>
