<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-12 col-md-6">
    <%= label_tag nil, @place.class.human_attribute_name(:place_type) %>
    <%= text_field_tag nil, @place.place_type, class: "form-control", disabled: true %>
  </div>
</div>

<%= link_to t('form_options.edit'), edit_place_path(@place), class: "btn btn-outline-secondary mt-2" %>
<%= link_to t('form_options.back'), places_path, class: "btn btn-outline-secondary mt-2" %>
