<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Registration number</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.registration_number %></td>
        <td><%= link_to t('form_options.show'), user %></td>
        <td><%= link_to t('form_options.edit'), edit_user_path(user) %></td>
        <td><%= link_to t('form_options.destroy'), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
