<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @user.registration_number %>
</p>

<%= link_to t('form_options.edit'), edit_user_path(@user) %> |
<%= link_to t('form_options.back'), users_path %>
