<p id="notice"><%= notice %></p>

<p>
  <strong> <%= User.human_attribute_name :first_name %>:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong><%= User.human_attribute_name :email %>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name :password %>:</strong>
  <%= @user.password %>
</p>

<p>
  <strong><%= User.human_attribute_name :registration_number %>:</strong>
  <%= @user.registration_number %>
</p>

<%= link_to t('form_options.edit'), edit_user_path(@user) %> |
<%= link_to t('form_options.back'), users_path %>
