<%= form_with(model: scout_branch, local: true) do |form| %>
  <% if scout_branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scout_branch.errors.count, "error") %> prohibited this scout_branch from being saved:</h2>

      <ul>
        <% scout_branch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
