<p id="notice"><%= notice %></p>

<h1>Scout Branches</h1>
<div class="row">
  <div class="col-12">
    <table class="table  table-responsive">
      <thead>
        <tr>
          <th scope="col">Description</th>
          <th scope="col" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @scout_branches.each do |scout_branch| %>
          <tr>
            <td><%= scout_branch.description %></td>
            <td><%= link_to t('form_options.show'), scout_branch %></td>
            <td><%= link_to t('form_options.edit'), edit_scout_branch_path(scout_branch) %></td>
            <td><%= link_to t('form_options.destroy'), scout_branch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to t('form_options.new'), new_scout_branch_path, class: "btn btn-primary", type: "button" %>
