<%= form_with(model: place, local: true) do |form| %>
  <div class="row">
    <div class="col-12">
      <% if place.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

          <ul>
            <% place.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-lg-6">
      <div class="field form-group">
        <%= form.label :place_type %>
        <%= form.text_field :place_type, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col actions">
      <%= form.submit nil, class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
